//- @file Defines the template for MD Tooltip.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/13/2015

//-////////////////////////////  MD TOOLTIP  ///////////////////////////////////
//- An MD Tooltip is a label that appears on hover over an associated element
    (cf. paper-tooltip). This tooltip
      * can be placed anywhere on the page
      * identifies its target element using the template attribute 'target='
      * can be positioned to the top, bottom (default), left, or right of the
        target element
      * uses the 'md_tooltip' template which supports the following parameters.

    @param {string} id - the id of the tooltip
    @param {string} [classes] - a space-separate list of classes of the tooltip
    @param {string} target - the id of the element that the tooltip is for
    @param {string} position - (top|bottom|left|right) the location of the
                               tooltip relative to the target element
    @param {string} text - the text to be displayed by the tooltip

template(name="md_tooltip")
  .md-tooltip(
    id=id
    class=classes
    data-tooltip=""
    data-target=target
    data-position=position
  )
    .md-tooltip__text=text
