//- @file Defines the template for MD Toolbar.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 12/1/2015

//-////////////////////////////  MD TOOLBAR  ///////////////////////////////////
//- An MD Toolbar is a horizontal bar containing elements that can be used for
    label, navigation, search and action (cf. paper-toolbar). This toolbar uses
    the 'md_toolbar' template which supports the following parameters:

    @param {string} id - the id of the toolbar element
    @param {string} [classes] - a space-separate list of classes of the toolbar
    ToDo: Finish this
template(name="md_toolbar")
  .md-toolbar(
    data-toolbar=""
    id=id
    class=classes
    data-header=data_header
    data-drawer-toolbar=drawer_toolbar
    data-top-justify=top_justify
    data-middle-justify=middle_justify
    data-bottom-justify=bottom_justify
  )
    if content
      +Template.dynamic(template=content)
    unless content
      .md-toolbar__bar.top(data-top-bar="")
        if use_bar_templates
          +Template.dynamic(template=top_content)
      .md-toolbar__bar.middle(data-middle-bar="")
        if use_bar_templates
          +Template.dynamic(template=middle_content)
      .md-toolbar__bar.bottom(data-bottom-bar="")
        if use_bar_templates
          +Template.dynamic(template=bottom_content)
    if with_shadow
      .md-toolbar__shadow(data-header-shadow="")
    //- If neither a complete toolbar content template, nor individual bar
        content templates is desired to provide the toolbar content, then each
        toolbar bar can be automatically imported from the content of a DIV
        with the following attributes.

        For top bar:     data-content-for-toolbar=[toolbar id] data-bar="top"
        For middle bar:  data-content-for-toolbar=[toolbar id] data-bar="middle"
        For bottom bar:  data-content-for-toolbar=[toolbar id] data-bar="bottom"
