//- @file Defines the template for the MD Dropdown Menu.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/15/2015

//-//////////////////////////  MD DROPDOWN MENU  ///////////////////////////////
//- An MD Dropdown Menu is a menu that opens from a text input and presents the
    possible values of the input as menu items. (cf. paper-dropdown-menu).
    This menu
      * depends on the mdLabel, mdUnderline, and mdPopupMenu components
      * opens when the input field or the dropdown arrow is clicked
      * closes when an item is selected with a click
      * closes when the body is clicked
      * opens horizontally centered with respect to the input field
      * opens upward, downward, or vertically centered with respect to the input
        field
      * is best composed with items that do not contain ripple
      * can be assigned a preset value using the template attribute 'selected'
      ToDo: complete this
template(name="mdDropdownMenu")
  .md-dropdown-menu(
    data-dropdown-menu=""
    id=id
    name=name
    class=classes
    data-selected=selected
    data-disabled=disabled
  )
    .md-field__container
      +mdLabel(
        classes=labelClasses
        label=label
        noLabelFloat=noLabelFloat
      )
      input.md-field__input.md-field__input--dropdown-menu(
        data-dropdown-input=""
        id=inputId
        name=inputName
        type="text"
        value=value
        disabled=disabled
        autofocus=autofocus
        form=form
        readonly=readonly
        required=required
      )
      +mdUnderline
    if helperText
      .md-helper-text.md-text-field__helper-text(id=helperTextId)=helperText
    .md-error-text.md-text-field__error-text(id=errorTextId)
    +mdPopupMenu(
      position=position
      openingAnimation=openingAnimation
      _dropdownPopup=""
      _inDropdown=true
      icon="arrow-drop-down"
      iconButton=""
      noTriggerRipple=true
      menuId=menuId
      menuName=menuName
      menuClasses=menuClasses
      items=items
    )
      //- If an items helper is not used to provide the menu items, then the
          menu items placed in a div with an attribute of
          'data-items-for=menuId' will be automatically inserted here.
