//- @file Defines the template for the directly-inserted SVG icon.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 11/12/2015

template(name="mdIcon")
  .md-icon(
    id=id
    name=name
    class=classes
    title=title
    data-badge-count=badge_count
  ) #{md_icon__svg icon}
