//- @file Defines the template for the MD Card.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 12/23/2015

//-//////////////////////////////  MD CARD  ////////////////////////////////////
template(name="mdCard")
  .md-card(
    data-card=""
    id=id
    name=name
    class=classes
  )
    +Template.dynamic(template=content)
