//- @file Defines the templates for the MD Menu.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/13/2015

//-//////////////////////////////  MD MENU  ////////////////////////////////////
//- An MD Menu is a generic menu (cf. paper-menu) that is always visible, e.g. a
    drawer menu. An MD menu
      * uses MD items as its children
      * uses the 'mdMenu' template which supports the following parameters.

    @param {string} id - the id of the menu
    @param {string} [name] - the name of the menu
    @param {string} [classes] - a space-separate list of classes of the menu
    @param {Array} [items] - an array of objects to populate the mdItem template
                             and create the menu items
    @param {string} [_popupMenu] - indicates that it is in a popup menu
    @param {string} [_dropdownMenu] - indicates that it is in a dropdown menu
    ToDo: Finish this.
template(name="mdMenu")
  .md-menu(
    data-menu=""
    id=id
    name=name
    class=classes
    data-popup-menu=_popupMenu
    data-dropdown-menu=_dropdownMenu
  )
    if items
      +each items
        +mdItem(
          menuItem=""
          menu=menu
          id=id
          name=name
          classes=classes
          text=text
          textClasses=textClasses
          icon=icon
          iconClasses=iconClasses
          ripple=ripple
          offsetRipple=offsetRipple
          hasTooltip=hasTooltip
          tooltipPosition=tooltipPosition
          tooltipText=tooltipText
        )
    //- If an items helper is not used to provide the menu items, then the menu
        items placed in a div with an attribute of 'data-items-for=menuId'
        will be automatically inserted here.
