//- @file Defines the templates for the MD Button.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/13/2015

//- An MD button provides the rectangular flat and raised buttons, the icon
    buttons, and the FABs (cf. paper-button/paper-icon-button/paper-fab). An MD
    button:
      * is flat by default
      * can be raised with the template attribute 'raised=""'
      * can become a FAB with the template attribute 'fab=""'
      * can become a mini FAB with the template attribute 'fab="mini"'
      * can include an icon with the template attribute 'icon="icon id"'
      * can become an icon-button with the template attribute 'icon_button=""'
      * can be disabled with the template attribute 'disabled=""'
      * can toggle with the template attribute 'toggle=""' or 'toggle=true'
      * will display a ripple on click unless template attribute 'no_ripple=""'
      * can have a ripple that radiates from the center of the button, or from
        the event location using
        * 'offset_ripple=""' (if ripple is to emanate from the event location)
      * will always center the ripple on a FAB
      * can display a tooltip if the button has an id, and with the template
        attributes:
          * 'has_tooltip=true'
          * 'tooltip__position="top"|"bottom"|"left"|"right"'
          * 'tooltip__text="some string"|someStringVariable'
      * can carry the count data for a badged icon button in the template
        attribute 'badge_count=someCount'
      * can be a trigger for a popup menu
      * can carry arbitrary data in the template attribute
        '_data=someDataAsString'
template(name="md_button")
  button.md-button(
    data-button=""
    id=id
    name=name
    class=classes
    disabled=disabled
    title=title
    data-raised=raised
    data-fab=fab
    data-animate-on-render=animate_on_render
    data-with-icon=with_icon
    data-icon-button=icon_button
    data-toolbar-menu-button=toolbar_menu_button
    data-dialog-close-button=dialog_close_button
    data-drawer-toggle=drawer_toggle
    data-snackbar-button=_snackbar_button
    data-collapse-toggle=collapse_toggle
    data-toggle=toggle
    data-popup-trigger=_popup_trigger
    data-dropdown-trigger=_dropdown_trigger
    data-trigger-target=_trigger_target
    data-context=_data
  )
    if icon
      +md_icon(icon=icon classes="md-button__icon" badge_count=badge_count)
    if image
      +md_icon(image=image classes="md-button__icon" badge_count=badge_count)
    if label
      .md-button__label(data-label="")=label
    unless no_ripple
      +md_ripple(offset=offset_ripple)
  if has_tooltip
    +md_tooltip(target=id position=tooltip__position text=tooltip__text)
