//- @file Defines the templates for the MD Button.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/13/2015

//- An MD button provides the rectangular flat and raised buttons, the icon
    buttons, and the FABs (cf. paper-button/paper-icon-button/paper-fab). An MD
    button:
      * is flat by default
      * can be raised with the template attribute 'raised=""'
      * can become a FAB with the template attribute 'fab=""'
      * can become a mini FAB with the template attribute 'fab="mini"'
      * can include an icon with the template attribute 'icon="icon id"'
      * can become an icon-button with the template attribute 'iconButton=""'
      * can be disabled with the template attribute 'disabled=""'
      * can toggle with the template attribute 'toggle=""' or 'toggle=true'
      * will display a ripple on click unless template attribute 'noRipple=""'
      * can have a ripple that radiates from the center of the button, or from
        the event location using
        * 'offsetRipple=""' (if ripple is to emanate from the event location)
      * will always center the ripple on a FAB
      * can display a tooltip if the button has an id, and with the template
        attributes:
          * 'hasTooltip=true'
          * 'tooltipPosition="top"|"bottom"|"left"|"right"'
          * 'tooltipText="some string"|someStringVariable'
      * can carry the count data for a badged icon button in the template
        attribute 'badgeCount=someCount'
      * can be a trigger for a popup menu
      * can carry arbitrary data in the template attribute
        '__data=someDataAsString'
template(name="mdButton")
  button.md-button(
    data-button=""
    id=id
    name=name
    class=classes
    disabled=disabled
    data-raised=raised
    data-fab=fab
    data-with-icon=withIcon
    data-icon-button=iconButton
    data-toolbar-menu-button=toolbarMenuButton
    data-drawer-toggle=drawerToggle
    data-snackbar-button=_snackbarButton
    data-toggle=toggle
    data-badge-count=badgeCount
    data-popup-trigger=_popupTrigger
    data-dropdown-trigger=_dropdownTrigger
    data-trigger-target=_triggerTarget
    data-mdb=__data
  )
    if icon
      +mdIcon(icon=icon classes="md-button__icon")
    if label
      .md-button__label(data-label="")=label
    unless noRipple
      +mdRipple(offset=offsetRipple)
  if hasTooltip
    +mdTooltip(target=id position=tooltipPosition text=tooltipText)
