//- @file Defines the template for the MD Dialog
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 11/6/2015

//-///////////////////////////  MD DIALOG //////////////////////////////////////
//- An MD Dialog is a component that displays a dialog.
template(name="md_dialog")
  .md-dialog(
    data-dialog=""
    id=id
    name=name
    class=classes
    data-height=height
    data-width=width
    data-with-backdrop=backdrop
    data-modal=modal
    data-open-animation=open_animation
    data-close-animation=close_animation
  )
    .md-dialog__container(data-dialog-container="")
      //- If a dialog content helper is not used to provide the content, then the
          content placed in a div with an attribute of 'data-content-for=id' will
          be automatically inserted here.
    
