//- @file Defines the template for the MD Collapse component
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2016

    Created on 1/19/16

template(name="md_collapse")
  .md-collapse(
    data-collapse=""
    id=id
    class=classes
  )
    .md-collapse__content.collapsed(data-collapse-content="" class=content__classes)
      .md-collapse__content-sizer(data-collapse-sizer="")
        +Template.dynamic(template=content)
    .md-collapse__toggle(class=toggle__classes)
      +md_button(
        id=button__id
        name=button__name
        classes="collapsed"
        icon="expand-more"
        icon_button=""
        collapse_toggle=""
      )
