//- @file Defines the structure assumed for MD Header Panel.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 12/2/2015

//-/////////////////////////////  MD HEADER  ///////////////////////////////////
//- An MD Header Panel is a component that provides a containment structure for
    a header element, a content element, and supporting elements to enable the
    header to exhibit certain behaviors based on the scrolling status of the
    content. The header element is usually an MD Toolbar, but it can be any
    element with the 'data-header' attribute.
template(name="md_header_panel")
  .md-header-panel(
    data-header-panel=""
    id=id
    class=classes
    data-mode=mode
  )
    if has_header
      .md-header(data-header="" id=header__id class=header__classes)
        +Template.dynamic(template=header__content)
        .md-header__shadow(data-header-shadow="")
    if has_toolbar
      +md_toolbar(
        data_header=""
        id=toolbar__id
        classes=toolbar__classes
        content=toolbar__content
        use_bar_templates=use_bar_templates
        top_content=toolbar__top_content
        middle_content=toolbar__middle_content
        bottom_content=toolbar__bottom_content
        with_shadow=true
      )
    .md-content(data-content="" id=content__id class=content__classes)
      if using_cover_mode
        .md-covering-content(data-covering-content="" id=covering_content__id class=covering_content__classes)
          +Template.dynamic(template=content)
      else
        +Template.dynamic(template=content)
