//- @file Defines the templates for the MD Popup Menu.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/13/2015

//-//////////////////////////  MD POPUP MENU  //////////////////////////////////
//- An MD Popup Menu is a menu that pops open when a trigger button is clicked
    (cf. paper-menu-button).
    This menu
      * depends on the mdButton and mdMenu components
      * pops up when an associated icon button (trigger) is clicked
      * automatically closes when an item is selected with a click/touch
      * is best composed with items that do not contain ripple
      ToDo: complete this
template(name="mdPopupMenu")
  .md-popup-menu(
    id=id
    name=name
    class=classes
    data-popup-menu=""
    data-position=position
    data-opening-animation=openingAnimation
    data-dropdown-popup=_dropdownPopup
    data-disabled=disabled
  )
    if _inDropdown
      +mdButton(
        id=triggerId
        classes=triggerClasses
        icon=icon
        iconButton=""
        noRipple=noTriggerRipple
        _dropdownTrigger=""
        _triggerTarget=menuId
      )
      +mdMenu(
        id=menuId
        name=menuName
        classes=menuClasses
        _dropdownMenu=""
        items=items
      )
    else
      +mdButton(
        id=triggerId
        classes=triggerClasses
        icon=icon
        iconButton=""
        noRipple=noTriggerRipple
        _popupTrigger=""
        _triggerTarget=menuId
      )
      +mdMenu(
        id=menuId
        name=menuName
        classes=menuClasses
        _popupMenu=""
        items=items
        content=menuContent
      )
      //- If neither an items helper nor a content template is desired to
          provide the menu items, then the menu items placed in a div with an
          attribute of 'data-items-for=menuId' can be automatically inserted here.
